<div class="bio clear">
	<h2>Personal Details</h2>
	<table>
		<tr>
			<td>Height</td>
			<td>173cm / 5ft 8in</td>
		</tr>
		<tr>
			<td>Birthdate</td>
			<td>13 October 1978</td>
		</tr>
		<tr>
			<td>Eye Colour</td>
			<td>Brown</td>
		</tr>
		<tr>
			<td>Hair Colour</td>
			<td>Brown</td>
		</tr>
		<tr>
			<td>Natural Accent</td>
			<td>New Zealand</td>
		</tr>
		<tr>
			<td>Other Accents</td>
			<td>US</td>
		</tr>
		<tr>
			<td>Ethnicity</td>
			<td>European</td>
		</tr>
		<tr>
			<td>Location</td>
			<td>Auckland, NZ</td>
		</tr>
	</table>
</div>
<div class="bio clear">
	<h2>Professional Experience - Film</h2>
	<table>
		<tr>
			<td>2009</td>
			<td>The Holy Roller</td>
			<td>Featured</td>
			<td></td>
		</tr>
		<tr>
			<td>2007</td>
			<td>Wake Up Harriot</td>
			<td>Wallace</td>
			<td>Limelight Productions, Dir. Angus Benfield and Hanna Eichler</td>
		</tr>
		<tr>
			<td>2005</td>
			<td>Meet Me in Miami</td>
			<td>Receptionist</td>
			<td>Best Friends Productions</td>
		</tr>
		<tr>
			<td>2005</td>
			<td>Three Monkeys</td>
			<td>Bernand</td>
			<td></td>
		</tr>
		<tr>
			<td>2005</td>
			<td>Crestfallen</td>
			<td>Demon</td>
			<td></td>
		</tr>
	</table>
</div>
<div class="bio clear">
	<h2>Professional Experience - Television</h2>
	<table>
		<tr>
			<td>2011-2012</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>2011</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>2009</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>2009</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>2006</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>2006</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>2005</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</table>
</div>