<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Nick Prince - {{title}}</title>
	<link rel="stylesheet" type="text/css" href="style.css">
  	<script src="script.js"></script>
</head>

<body>

	<div id="wrapper">

		<header>

			<div id="title">
				<a href="/"><h1 class="kellum">Nick Prince</h1></a>
			</div>
						
			<nav>
				<ul class="unstyled inline">
					<li><a href="/bio">Bio</a></li>
					<li><a href="/photos">Photos</a></li>
					<li><a href="/videos">Videos</a></li>
					<li><a href="/news">News</a></li>
				</ul>
			</nav>

		</header>

		<div id="main">
			{{{body}}}
		</div>

		<footer>
			<ul class="unstyled inline">
				<li>
					<a href="http://www.imdb.com/name/nm1495307/?ref_=fn_al_nm_1" 
					   class="kellum imdb" target="_blank">IMDb</a>
				</li>
				<li><a href="https://www.facebook.com/nick.prince.5667" 
					   class="kellum facebook" target="_blank">Facebook</a>
				</li>
				<li>
					<a href="https://twitter.com/NickPrinceNz" 
					   class="kellum twitter" target="_blank">Twitter</a>
				</li>
				<li>
					<a href="https://www.youtube.com/channel/UC2DPdhR-J_locRloJSIIh0g/videos" 
					   class="kellum youtube" target="_blank">YouTube</a>
				</li>
			</ul>
		</footer>

	</div>

</body>
</html>